
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Health department</h2>

<div class="jumbotron">
    <p>
        Health management system takes care of the Drugs inventory and Patient records. Drugs availability status can be seen, stock can be updated when new drugs are received or consumed for daily usage.
    </p>
    <p>
        Patient records maintenance has been made easy. You can now add patients/new born babies, search for a patient with a unique id and update patient reccords. Nurses can generate the weekly/monthly schedule for them. Birth certificates can be applied right from this system.
    </p>
    <p>
        It makes the Urban Health Nurses' lives easy.
    </p>
</div>
<div class="row">
    <div class="col-md-3" style="background-color: lightgray;padding-bottom: 10px;">
        <p><strong>Drugs Inventory</strong></p>
        <ul style="list-style-type: none; margin-left: 5px; padding-left: 0px;">
            <li><a href="#">Availability</a></li>
            <li><a href="#">Add new drugs</a></li>
            <li><a href="#">Update consumed drugs</a></li>
            <li><a href="#">Transfer drugs to other Health posts</a></li>
            <li><a href="#">Check for expired drugs</a></li>
        </ul>
    </div>
    <div class="col-md-9" style="background-color: cyan">
    </div>
</div>