
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Birth & Death management</h2>

<div class="jumbotron">
    <p>Birth and death certifcates requests are now made online!</p>
    <p>Automatic notifications from Health centers are received when new babies are born. On such requests, birth certificate generation process can be intiated.</p>
</div>